/*Navbar CSS*/
.navbar-main {
	box-shadow: inset 0 -15px 10px -10px rgba(0, 0, 0, 0.2)
}

.navbar-main .navbar-logo {
	height: 64px;
	margin-right:20px;
}

.navbar-main .navbar-nav .nav-link {
  color: #f6f7f8;
  padding: 19px 15px 15px 15px;
  font-size: 20px;
}

.navbar-main .navbar-nav .nav-link:hover, .navbar-main .navbar-nav .nav-link:focus {
  color: #2ec4b6;
}

.navbar-main .navbar-toggler {
  border-color: #2ec4b6;
}

.navbar-main .navbar-toggler-icon {
  background-image: url("Images/toggle menu.png");
  height: 30px;
  width: 30px;
}

/*Container and body*/
.page-container {
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding: 32px 0 0 0;
}
@media screen and (min-width: 1200px) {
	.page-container {
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
		padding: 32px 0 0 0;
	}
}

/*Cards*/
.card-shadow {
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.15);
}

/*Buttons*/
.btn-github {
  color: #fff;
  background-color: #2ec4b6;
  border-color: #2ec4b6;
}

.btn-github:hover {
  color: #fff;
  background-color: #249b90;
  border-color: #1f867c;
}

/*Padding and Margin*/
.side-padding {
	padding: 0 8px;
}

.right-margin {
	margin-right: 16px;
}

.left-margin {
	margin-left: 16px;
}

.card-margin{
	margin-bottom: 16px;
}

.bottom-margin {
	margin-bottom: 32px;
}

/*Colors*/
.bg-color-navbar {
  background-color: #39393a !important;
}

.bg-color-background {
  background-color: #e6e6e6;
}

.color-accent {
    color: #2ec4b6;
}

.color-white {
	color: #f6f7f8;
}

