/*Navbar CSS*/
.bg-main {
  background-color: #011627 !important;
}

a.bg-main:hover, a.bg-main:focus,
button.bg-main:hover,
button.bg-main:focus {
  background-color: #bbbbbb !important;
}

.navbar-main .navbar-logo {
	height: 64px;
	margin-right:20px;
}

.navbar-main .navbar-brand {
  color: #f6f7f8;
}

.navbar-main .navbar-brand:hover, .navbar-main .navbar-brand:focus {
  color: #ff3366;
}

.navbar-main .navbar-nav .nav-link {
  color: #f6f7f8;
  padding: 19px 15px 15px 15px;
  font-size: 20px;
}

.navbar-main .navbar-nav .nav-link:hover, .navbar-main .navbar-nav .nav-link:focus {
  color: #ff3366;
}

.navbar-main .navbar-toggler {
  color: #f6f7f8;
  border-color: #ff3366;
}

.navbar-main .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*Container and body*/
body {
	background-color: #f6f7f8;
}

.page-container {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	padding: 16px 0;
}

/*Padding and Margin*/
.side-padding {
	padding: 0 8px;
}

.width-third {
	width: 33.33%;
}

.width-half {
	width: 50%;
}

.width-twothird {
	width: 66.66%;
}

